[submodule "ison"]
	path = ison
	url = git@github.com:jdb19937/ison.git
[submodule "crispus"]
	path = crispus
	url = git@github.com:jdb19937/crispus.git
[submodule "face"]
	path = face
	url = git@github.com:jdb19937/face.git
[submodule "ddiff"]
	path = ddiff
	url = git@github.com:jdb19937/ddiff.git
[submodule "munda"]
	path = munda
	url = git@github.com:jdb19937/munda.git
[submodule "insinulint"]
	path = insinulint
	url = git@github.com:jdb19937/insinulint.git
[submodule "sqrt"]
	path = sqrt
	url = git@github.com:jdb19937/sqrt.git
[submodule "phantasma"]
	path = phantasma
	url = git@github.com:jdb19937/phantasma.git
[submodule "sic"]
	path = sic
	url = git@github.com:jdb19937/sic.git
[submodule "delphi"]
	path = delphi
	url = git@github.com:jdb19937/delphi.git
[submodule "kadc"]
	path = kadc
	url = git@github.com:jdb19937/kadc.git
[submodule "xiterm"]
	path = xiterm
	url = git@github.com:jdb19937/xiterm
[submodule "vii"]
	path = vii
	url = git@github.com:jdb19937/vii
[submodule "ccc"]
	path = ccc
	url = git@github.com:jdb19937/ccc
[submodule "festum"]
	path = festum
	url = git@github.com:jdb19937/festum
[submodule "corpus"]
	path = corpus
	url = git@github.com:jdb19937/corpus
[submodule "plus"]
	path = plus
	url = git@github.com:jdb19937/plus
[submodule "homuncio"]
	path = homuncio
	url = git@github.com:jdb19937/homuncio
[submodule "proplasma"]
	path = proplasma
	url = git@github.com:jdb19937/proplasma
